* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}



#bg-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Faire en sorte que le fond occupe toute la largeur de l'écran */
    height: 100%; /* Faire en sorte que le fond occupe toute la hauteur de l'écran */
    z-index: -1;
}

svg {
    width: 100%; /* Faire en sorte que le SVG s'adapte à la largeur de son conteneur */
    height: 100%; /* Faire en sorte que le SVG s'adapte à la hauteur de son conteneur */
}

.navbar {
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1; /* Assurez-vous que la barre de navigation est positionnée au-dessus */
}

.acueille {
    height: 10vh;
    width: 9vh;
    margin-right: 50px;
}

.text_daccueil {
    height: calc(100vh - 10vh); /* Réduire la hauteur de la barre de navigation */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrer horizontalement */
    position: fixed;
    top: 3vh; /* Placer légèrement plus haut que le centre de l'écran */
    margin-top: 0; /* Ajuster la marge supérieure */
    z-index: 2; /* Assurez-vous que le contenu est positionné au-dessus */
}

.navbar + * {
    padding-top: 10vh; /* Ajustez la valeur en fonction de la hauteur de la barre de navigation */
}

h1 {
    font-size: 3em; /* Taille de la police */
}